:root {
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;

    --border-radius: 5px;

    --month-1: #FFBBBB;
    --month-2: #FFDDBB;
    --month-3: #FFFFBB;
    --month-4: #DDFFBB;
    --month-5: #BBFFBB;
    --month-6: #BBFFDD;
    --month-7: #BBFFFF;
    --month-8: #BBDDFF;
    --month-9: #BBBBFF;
    --month-10: #DDBBFF;
    --month-11: #FFBBFF;
    --month-12: #FFBBDD;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: row;
}

main {
    width: 800px;
    width: 800px;
}

aside {
    flex: 1;
    padding: 10px;
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 0px;
    height: 100vh;
}

aside article {
    border-radius: var(--border-radius);
    opacity: 75%;
    border: 1px solid lightgrey;
    overflow: hidden;
}

aside article label {
    text-align: center;
    display: block;
    padding: 10px;
    font-weight: bold;
    background-color: lightgray;
}

aside article.editor {
    padding: 10px;
}

aside article.editor div.h1:first-child {
    font-size: inherit;
    display: block;
    font-weight: bold;
    border: none;
    background-color: lightgrey;
    padding: 10px;
    margin: -10px;
    margin-bottom: 10px;
}

/* EDITOR */

.editor {
    width: 100%;
    max-width: 800px;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    white-space: pre-wrap;
    padding-bottom: 100px;
}

.editor .h1 {
    margin-top: 20px;
    max-width: 800px;
    font-size: 1.4em;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.editor .h2 {
    all: unset;
    display: block;
    font-weight: bold;
}

.editor a {
    color: darkcyan;
    cursor: pointer;
}

.editor a:hover {
    text-decoration: underline;
}

.editor .strike {
    text-decoration: line-through;
}

.editor hr {
    all: unset;
    display: block;
    border-bottom: 1px solid lightgray;
}

/* CALENDAR */

.day {
    color: inherit;
    text-decoration: none;
    flex: 1;
    padding: 10px 0px;
    aspect-ratio: 1/1;
    text-align: center;
    cursor: pointer;
}

.day.is_past {
    color: rgba(0, 0, 0, 0.75);
    font-style: italic;
}

.day.is_today {
    text-decoration: underline;
}

.day.active {
    font-weight: bold;
}

.day.month-1 { background-color: var(--month-1); }
.day.month-2 { background-color: var(--month-2); }
.day.month-3 { background-color: var(--month-3); }
.day.month-4 { background-color: var(--month-4); }
.day.month-5 { background-color: var(--month-5); }
.day.month-6 { background-color: var(--month-6); }
.day.month-7 { background-color: var(--month-7); }
.day.month-8 { background-color: var(--month-8); }
.day.month-9 { background-color: var(--month-9); }
.day.month-10 { background-color: var(--month-10); }
.day.month-11 { background-color: var(--month-11); }
.day.month-12 { background-color: var(--month-12); }

/* COMMON */

.col {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.row {
    display: flex;
    flex-direction: row;
}

.flex {
    flex: 1;
}
