:root {
    font-size: 1.3em;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: Arial, Helvetica, sans-serif;

    --border-radius: 5px;

    --month-1: #FFBBBB;
    --month-2: #FFDDBB;
    --month-3: #FFFFBB;
    --month-4: #DDFFBB;
    --month-5: #BBFFBB;
    --month-6: #BBFFDD;
    --month-7: #BBFFFF;
    --month-8: #BBDDFF;
    --month-9: #BBBBFF;
    --month-10: #DDBBFF;
    --month-11: #FFBBFF;
    --month-12: #FFBBDD;
}

* {
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: row;
}

main {
    width: 800px;
}

aside {
    flex: 1;
    padding: 10px;
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 0px;
    height: 100vh;
}

aside article {
    border-radius: var(--border-radius);
    opacity: 75%;
    border: 1px solid lightgrey;
    overflow: hidden;
}

aside article label {
    text-align: center;
    display: block;
    padding: 5px;
    font-weight: bold;
    background-color: lightgray;
}

aside article.editor {
    padding: 10px;
}

aside article.editor div.h1:first-child {
    font-size: inherit;
    display: block;
    font-weight: bold;
    border: none;
    background-color: lightgrey;
    padding: 5px 10px;
    margin: -10px;
    margin-bottom: 10px;
}

/* EDITOR */

.editor {
    max-width: 800px;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    white-space: pre-wrap;
}

main .editor:last-child {
    padding-bottom: 100px;
}

.editor .h1 {
    margin-top: 10px;
    max-width: 800px;
    font-size: 1.4em;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.editor .h2 {
    all: unset;
    display: block;
    font-weight: bold;
}

.editor a {
    color: darkcyan;
    cursor: pointer;
}

.editor a:hover {
    text-decoration: underline;
}

.editor .strike {
    text-decoration: line-through;
}

.editor hr {
    all: unset;
    display: block;
    border-bottom: 1px solid lightgray;
}

.editor .indent {
    color: gray;
}

.editor .task.done {
    color: green;
}

.editor .task.stop {
    color: red;
}

/* CALENDAR */

.day {
    color: inherit;
    text-decoration: none;
    flex: 1;
    padding: 10px 0px;
    aspect-ratio: 1/1;
    text-align: center;
    cursor: pointer;
}

.day.is_past {
    color: rgba(0, 0, 0, 0.75);
    font-style: italic;
}

.day.is_today {
    text-decoration: underline;
}

.day.active {
    font-weight: bold;
}

.day.month-1 { background-color: var(--month-1); }
.day.month-2 { background-color: var(--month-2); }
.day.month-3 { background-color: var(--month-3); }
.day.month-4 { background-color: var(--month-4); }
.day.month-5 { background-color: var(--month-5); }
.day.month-6 { background-color: var(--month-6); }
.day.month-7 { background-color: var(--month-7); }
.day.month-8 { background-color: var(--month-8); }
.day.month-9 { background-color: var(--month-9); }
.day.month-10 { background-color: var(--month-10); }
.day.month-11 { background-color: var(--month-11); }
.day.month-12 { background-color: var(--month-12); }

/* AGENDA */

.event {
    position: absolute;
    right: 0px;
    left: 33px;
    padding-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.agenda.editor {
    position: absolute;

    right: 0px;
    top: 0px;
    bottom: 0px;
    left: 33px;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    outline: none;
}

.agenda.editor .line {
    flex: 1;
    min-height: 0px;
    padding-left: 5px;
    overflow: visible;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    background-size: contain;
    position: relative;
}

.agenda-time {
    width: 33px;
    padding-right: 3px;
    text-align: right;
    border-right: 1px solid gray;
}

.agenda-row:not(:last-child) {
    border-bottom: 1px dashed grey;
}

.agenda-fill {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    border-bottom: 2px solid black;
    background-color: rgba(0, 0, 50, 0.1);
    pointer-events: none;
}

/* MODAL */

dialog {
    border: 1px solid lightgrey;
    border-radius: var(--border-radius);
    outline: none;
    border: none;
    padding: 0px;
    margin-top: 100px;
}

dialog input {
    all: unset;
    display: block;
    padding: 10px;
    width: 600px;
    border-bottom: 1px solid lightgray;
}

dialog #results {
    overflow-y: scroll;
    max-height: 50vh;
    padding: 5px;
}

dialog #results a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

dialog #results a.create {
    color: grey;
}

dialog #results:not(:focus-within) a:first-child {
    outline: auto;
}

dialog #results a span:not(:last-child) {
    display: inline-block;
    width: 125px;
    opacity: 75%;
    padding-right: 10px;
    font-style: italic;
}

dialog #results a:hover {
    background-color: lightblue;
}

/* COMMON */

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.flex {
    flex: 1;
}

.pad {
    padding: 10px;
}

.pad-0 {
    padding: 0px !important;
    gap: 0px !important;
}

.relative {
    position: relative;
}

.scroll {
    overflow-y: scroll;
}
