body {
    margin: 0px;

    /* dark theme for the win */
    background-color: #1f1f1f;

    /* default font stuff */
    color: #ccc;
    font-family: 'Open Sans', sans-serif;
}

#root {
    max-width: 800px;
    margin: auto;
}

.ql-editor {
    min-height: 99vh;
}

p {
    font-size: 2em;
    text-align: justify;
}

h2 {
    text-align: center;
    font-size: 2em !important;
    font-weight: normal;
}

h1 {
    text-align: center;
    font-size: 3em !important;
}