body {
    margin: 0px;

    /* dark theme for the win */
    background-color: #1f1f1f;

    /* default font stuff */
    color: #ccc;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
}

* {
    box-sizing: border-box;
}

/* calender */

.drag > div {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    user-select: none;
    position: absolute;
}

.draggable div {
    user-select: none;
}

.day {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

*:has(> .calevent) {
    position: relative;
}

.shadow {
    display: block;
    padding: 0px 5px;
    padding-bottom: 50px;
}

.press {
    cursor: pointer;
}

p {
    margin: 0px;
    min-height: 25px;
}

a {
    color: teal;
}

ul {
    margin: 0px;
}

input[type=checkbox] {
    margin: 0px;
    margin-right: 10px;
    background: none;
}

input[type=checkbox] {
    margin-right: 5px;
    appearance: none;
    border: 1px solid gray;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    user-select: none;
}

input[type=checkbox]:checked {
    appearance: none;
    border: #1f6f04;
    background-color: #1f6f04;
    border-radius: 100%;
}

input[type=checkbox]:checked > div {
    border-right: 2px solid #1f1f1f;
    border-bottom: 2px solid #1f1f1f;
    width: 5px;
    height: 9px;
    z-index: 10;
    position: relative;
    top: 2px;
    left: 5px;
    rotate: 45deg;
}

.stack {
    display: flex;
    justify-content: center;
    padding: 0px 10px;
    width: 100vw;
    gap: 10px;
}

.document {
    width: 800px;
    min-width: 100px;
}

.calevent {
    background-size: cover;
    background-color: darkgoldenrod;
    position: absolute;
    left: 2px;
    right: 2px;
    text-align: left;
    background-color: #00008b;
}

.calevent:not(:last-child) {
    border-bottom: 3px solid #B8B398;
}

.calevent:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.calevent:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* layout */

h1 {
    margin: auto;
    border-bottom: 1px solid;
    width: 100%;
}

.box {
    background-color: #006060;
    border-radius: 5px;
}

.box.green {
    background-color: green;
}

.box.blue {
    background-color: #4682b4;
}

.box.red {
    background-color: #CB6015;
}

.box label {
    display: block;
    text-align: center;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.col:has(> .box) {
    gap: 5px;
}

.col {
    display: flex;
    flex-direction: column;
}

.row > .box {
    flex: 1;
}

.pad {
    padding: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.flex {
    flex: 1;
}

.center {
    text-align: center;
}

.i {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

button {
    font-size: inherit;
    color: inherit;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: none;
}

button:hover {
    opacity: 70%;
    cursor: pointer;
}

#root {
    display: flex;
    flex-direction: row;

    /* for full screen mode */
    background-color: inherit;
}

#root>aside {
    flex: 1;
}

/* reset */

input {
    font: inherit;
    font-size: inherit;
    color: inherit;
}

/* pop ups */

.overlay {
    /* take up whole screen */
    position:fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;

    /* and color it gray */
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay .popup {
    background-color: #1e1e1e;
    width: 800px;
    margin: auto;
    padding: 10px 10px;
    margin-top: 100px;
    border: 1px solid gray;
    border-radius: 5px;
}

.overlay label {
    display: block;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 1.2em;
}

.overlay input {
    /* layout */
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;

    /* styling */
    border: 2px solid teal;
    border-radius: 5px;
    outline: none !important;
    background-color: none;
    background-color: rgba(255, 255, 255, 0.15);
}

.command {
    padding: 10px 20px;
    border-radius: 5px;
}

.command:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.command.selected {
    background-color: teal;
}

/* todos */

.todos {
    padding-top: 20px;
}

.todo {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    border-radius: 5px;
}

.todo:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.drag>* {
    user-select: none;
    position: relative;
    cursor: grabbing;
}

.todo input[type=text] {
    flex: 1;
    display: block;
    margin-left: 10px;

    background: none;
    border: none;
    outline: none !important;
}

/* ql */

.ql-editor {
    min-height: 99vh;
}

.ql-editor p {
    font-size: 2rem;
    text-align: justify;
}

.ql-editor h2 {
    text-align: center;
    font-size: 2rem !important;
    font-weight: normal;
}

.ql-editor h1 {
    text-align: center;
    font-size: 3rem !important;
}