body {
    margin: 0px;

    /* dark theme for the win */
    background-color: #1f1f1f;

    /* default font stuff */
    color: #ccc;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}

* {
    box-sizing: border-box;
}

/* layout */

#root {
    display: flex;
    flex-direction: row;

    /* for full screen mode */
    background-color: inherit;
}

main {
    min-height: 100vh;
    width: 800px;
}

#root>aside {
    flex: 1;
}

/* pop ups */

.overlay {
    /* take up whole screen */
    position:fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;

    /* and color it gray */
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay .popup {
    background-color: #1e1e1e;
    width: 800px;
    margin: auto;
    padding: 10px 10px;
    margin-top: 100px;
    border: 1px solid gray;
    border-radius: 5px;
}

.overlay input {
    /* layout */
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;

    /* styling */
    border: 2px solid teal;
    border-radius: 5px;
    outline: none !important;
    background-color: none;
    background-color: rgba(255, 255, 255, 0.15);

    /* font reset */
    font: inherit;
    font-size: inherit;
    color: inherit;
}

.command {
    padding: 10px 20px;
    border-radius: 5px;
}

.command:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.command.selected {
    background-color: teal;
}

/* todos */

.todos {
    padding-top: 20px;
}

.todo {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    border-radius: 5px;
}

.todo div {
    flex: 1;
    margin-left: 10px;
}

.todo:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.drag>* {
    user-select: none;
    position: relative;
    cursor: grabbing;
}

/* ql */

.ql-editor {
    min-height: 99vh;
}

.ql-editor p {
    font-size: 2rem;
    text-align: justify;
}

.ql-editor h2 {
    text-align: center;
    font-size: 2rem !important;
    font-weight: normal;
}

.ql-editor h1 {
    text-align: center;
    font-size: 3rem !important;
}